
@font-face {
  font-family: 'JosefinSans';
  src: url('./assets/font/JosefinSans-Medium.ttf');
}
@font-face {
  font-family: 'Orbitron';
  src: url('assets/font/Orbitron-Medium.ttf');
}
@font-face {
  font-family: 'Rosario';
  src: url('./assets/font/Rosario-Regular.ttf');
}

body {
	background-color: black;
	color: white;
}

.navbar-toggler {
	width: 47px;
    height: 34px;
}

.navbar-toggler .navbar-toggler-icon {
	width: 100%;
    height: 2px;
	background-color: white;
	margin-bottom: 5px;
}

.nav-link {
    font-size: 18px;
    font-family: JosefinSans;
}

.index {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('assets/images/bg_main.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.bg-dark {
    background: transparent !important;
    transition: 0.2s ease-out;
}

.bg-black {
    background: #000;
    transition: 0.5s ease-in;
}

h1, h2, h3 {
    font-family: Orbitron;
    text-align: center;
}

.about {
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url('assets/images/box3.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}

.aboutus {
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 2s;
    will-change: transform, opacity;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 40px 80px 40px 80px;
    border: 1px solid;
    box-shadow: 30px 30px 20px rgba(0,0,0,0.2);

}

.aboutus span {
    height: 1px;
    width: 100px;
    background: black;
    margin-top: 20px;
    margin-bottom: 30px;
}

.aboutus.is-visible {
    opacity: 1;
    transform: translateY(0px);
    color: #FFF;
}


.inner {
    overflow: hidden;
    position: relative;
    font-family: JosefinSans;
}

.inner img{
    transition: all linear 0.4s;
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.overlay2 {
  position: absolute;
  top: 84%;
  width: 100%;
  background: black;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.inner:hover img {
  object-fit: cover;
  transform: scale(0.95);
}


.work {
  margin-top: 50px;
}

.work img {
  width: 200px;
  float: right;
  margin-right: 50px;
  border-radius: 10px;
}

.competitions {
  background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url('assets/images/box3.jpg');
  background-size: cover;
  background-position: center;
}


@media (max-width: 768px) {
    #logo{
      content: url("assets/images/logo2.jpg");
    }

    .contactcomp {
      margin: 0 auto;
      text-align: center;
      padding-top: 30px;
    }

    .sponsor img {
      width: 51%;
      display: block;
    }

    .profile img {
      width: 40%;
      display: block;
    }

    .domain {
      width: 60%;
    }

    .workinfo {
      padding-top: 20px;
      text-align: center;
    }

    .gallery1,.gallery2,.gallery3,.gallery4 {
      padding-top: 40px;
    }

    .overlay2 {
      top: 89%;
    }
    
}

@media (min-width: 769px) {
    .sponsor img {
      width: 24%;
    }

    .profile img {
      width: 60%;
    }

    .domain {
      width: 21%;
    }
}


.sponsor img {
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
}

.contact {
    background-color: #708090;
    color: white;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('assets/images/bg_main.jpg');
    /*background-size: cover;
    background-position: center; */
}

.profile {
  padding: 50px;
  margin: 0 auto;
}

.profile img {
  border-radius: 50%;
  margin: 0 auto;
}

.profile h4 {
  padding-top: 20px;
}

.domain{
  padding: 40px;
  margin: 20px;
  background-color: grey; 
}

.domain h5 {
  text-align: center;
}

.profile a {
  font-size: 1.25rem;
  padding: .25rem;
  text-decoration: none;
}

.fa-facebook {
  color: #1877F2;
}

.fa-instagram {
  color: #E1306C;
}

.fa-linkedin {
  color: #2867B2;
}

.fa-linkedin-square {
  color: #2867B2;
}

.fa-github-square {
  color: #999;
}

footer {
    background-color: black;
}

